<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="WojtekSasiela.DziennikSzkolny"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk
            android:minSdkVersion="15"
            android:targetSdkVersion="17" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".OpcjeAcitivity" android:label="Edytuj opcje"/>
        <activity android:name=".DaneUczniaActivity" android:label="Dane ucznia"/>
        <activity android:name=".StatystykiActivity" android:label="Statystyki ocen"/>
        <activity android:name=".ListaUczniowActivity" android:label="Lista Uczniow"/>
        <activity android:name=".ListaKlasActivity" android:label="Lista klas"/>

        <activity android:name=".SredniaAcitivity" android:label="Srednia arytmetyczna"/>
        <activity android:name=".WariancjaAcitivity" android:label="Wariancja"/>
        <activity android:name=".OdchylenieAcitivity" android:label="Odchylenie standardowe"/>
        <activity android:name=".MedianaAcitivity" android:label="Mediana"/>
        <activity android:name=".DominantaAcitivity" android:label="Dominanta"/>
        <activity android:name=".KwartyleAcitivity" android:label="Kwartyle"/>
    </application>
</manifest>
